<p>
  <button *ngIf="isToggled === false"
          (click)="toggle()">create question</button>

  <div *ngIf="isToggled === true">

    <input class="hidden"
           size="65"
           placeholder="{{ question.title }}"
           [(ngModel)]="question.title"
           (focusout)="updateTitle()">

    <input class="hidden"
           size="65"
           placeholder="{{ question.description }}"
           [(ngModel)]="question.description"
           (focusout)="updateDescription()">
  </div>

</p>
