<div>
  <div id="login">
    <input size="65"
           placeholder="login"
           [(ngModel)]="user.login"
           required>
  </div>

  <div id="email">
   <input size="65"
          placeholder="email"
          [(ngModel)]="user.email"
          required>
  </div>

  <div id="password">
    <input size="65"
           type="password"
           placeholder="password"
           [(ngModel)]="user.password"
           required>

    <input size="65"
           type="password"
           placeholder="confirm password"
           [(ngModel)]="confirmedPassword"
           required>
  </div>

  <button (click)="validate()">register</button>

</div>
