<h3>edit {{ survey.title }}</h3>

<app-survey-form [survey]="survey"></app-survey-form>

<ul>
  <li *ngFor="let question of questions">

    <input class="hidden"
           size="65"
           placeholder="{{ survey.description }}"
           [(ngModel)]="question.title"
           (focusout)="updateQuestion(question)">

    <input class="hidden"
           size="255"
           placeholder="{{ survey.description }}"
           [(ngModel)]="question.description"
           (focusout)="updateQuestion(question)">

  </li>
</ul>
