<h3>edit {{ form.getSurvey()?.title }}</h3>

<app-survey-form [survey]="form.getSurvey()" [form]="form"></app-survey-form>

<ul>
  <li *ngFor="let question of form.getQuestions()">
    <app-question-form [question]="question" [form]="form"></app-question-form>

    <ul>
      <li *ngFor="let answer of form.getAnswers(question)">
        <app-answer-form [question]="question" [answer]="answer" [form]="form"></app-answer-form>
      </li>

      <li>
        <app-new-answer-form></app-new-answer-form>
      </li>
    </ul>

  </li>

  <li>
    <button>add question</button>
  </li>
</ul>
